# Ejercicio 3: Unión de Tablas y Agregación
Para nuestro siguiente desafío, uniremos los conceptos que ya dominas: limpieza, transformación y agregación.

## Escenario:

La gerencia te ha proporcionado un nuevo archivo con información sobre los productos y su categoría. Quieren que combines esta información con tus datos de ventas para obtener un resumen de las ventas por categoría.

Archivos de apoyo:
- El DataFrame que ya tienes: ventas_limpias.csv.
- Un nuevo archivo llamado productos_categorias.csv 

## Instrucciones:

1. Carga los archivos: Carga el ventas_limpias.csv y el nuevo productos_categorias.csv en dos DataFrames separados.
2. Une los DataFrames: Realiza un merge o join para combinar las ventas con sus categorías, usando la columna común producto.
3. Agrupa y agrega: Agrupa los datos por la columna categoria y calcula el total de ventas (conteo de registros) y el precio total (suma de los precios).
4. Guarda el resultado: Guarda el DataFrame resultante en un nuevo archivo llamado ventas_por_categoria.csv.

In [13]:
import pandas as pd

In [14]:
input_file = '../outputs/ventas_limpias.csv'
input_file2 = '../datasets/productos_categorias.csv'
output_file = '../outputs/ventas_por_categoria.csv'

In [15]:
df = pd.read_csv(input_file)
df1 = pd.read_csv(input_file2)
df
df1

      producto    categoria
0       Laptop  Electronica
1        Mouse   Accesorios
2      Teclado   Accesorios
3      Monitor  Electronica
4  Auriculares        Audio

In [16]:
# Puede realizarse con join o merge, ambos son equivalentes en este caso.
# Ej. con join: df_merged = df.join(df1.set_index('producto'), on='producto', how='left')
df_merged = pd.merge(df, df1, on = 'producto', how = 'left')
df_merged

   id_venta     producto       precio       fecha    categoria
0         1       Laptop  1200.000000  2023-01-15  Electronica
1         2        Mouse    25.000000  2023-01-16   Accesorios
2         3      Teclado    75.000000  2023-01-17   Accesorios
3         4       Laptop   275.833333  2023-01-18  Electronica
4         5      Monitor   250.000000  2023-01-19  Electronica
5         6        Mouse    25.000000  2023-01-16   Accesorios
6         7  Auriculares    80.000000  2023-01-20        Audio

In [17]:
df_merged = df_merged.groupby(['categoria']).agg(
    total_ventas=('producto', 'count'),
    total_precios=('precio', 'sum')
).reset_index()
df_merged

     categoria  total_ventas  total_precios
0   Accesorios             3     125.000000
1        Audio             1      80.000000
2  Electronica             3    1725.833333

In [18]:
df_merged.to_csv(output_file, index=False)